<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
<table class="gridtable">
<tr>
	<th>id</th><th>url</th><th>interval</th><th>status</th>
</tr>
<?php foreach($urls as $url) { ?>
<tr>
	<td><?php echo $url['id'];?></td><td><?php echo $url['url'];?></td><td><?php echo $url['interval'];?></td><td><?php echo $url['status'];?></td>
</tr>
<?php }?>
</table>
    <script>
      var ws = new WebSocket('ws://127.0.0.1:5701/');
      ws.onopen = function() {
        document.body.style.backgroundColor = '#cfc';
		ws.send("i'm coming...");
      };
      ws.onclose = function() {
        document.body.style.backgroundColor = null;
      };
      ws.onmessage = function(event) {
        console.log(event.data);   
      };
	  ws.onerror = function (evt, e) {
		console.log('Error occured: ' + evt.data);
	  };
    </script>
